<div class="col-12">
    <div class="p-3 border-bottom" *ngIf="infoConversation!=undefined && infoConversation?.participantInfos!=undefined">
        <div class="d-flex align-items-center">
            <img [src]="baseImageUrl+infoConversation?.participantInfos![0]!?.avatarUrl" class="rounded-circle" width="50">
            <div class="ml-3">
                <h6 class="m-0">{{infoConversation?.participantInfos![0]!?.name}}</h6>
                <small>Tạo nhóm trò chuyện</small>
            </div>
        </div>
    </div>
    <div class="p-3 border-bottom">
        <p><strong>Thông tin hội thoại</strong></p>
        <p>14 nhóm chung</p>
        <p>Danh sách nhắc hẹn</p>
    </div>
    <div class="p-3 border-bottom">
        <p><strong>Ảnh/Video</strong></p>
        <div class="d-flex flex-wrap">
            <img src="assets/icons/icons8-rubik-50.png" class="img-thumbnail m-1">
            <img src="assets/icons/icons8-rubik-50.png" class="img-thumbnail m-1">
        </div>
        <a  class="btn btn-link p-0">Xem tất cả</a> 
    </div>
    <div class="p-3">
        <p><strong>File</strong></p>
        <div>
            <div class="d-flex align-items-center mb-1">
                <i class="far fa-file-alt me-2"></i>
                <div class="flex-grow-1">minh.txt</div>
                <small>21.03 KB</small>
            </div>
            <div class="d-flex align-items-center mb-1">
                <i class="far fa-file-image me-2"></i>
                <div class="flex-grow-1">giaodien.jpg</div>
                <small>23.23 KB</small>
            </div>
            <div class="d-flex align-items-center mb-1">
                <i class="far fa-file-word me-2"></i>
                <div class="flex-grow-1">10121794_01An1.doc</div>
                <small>5.74 MB</small>
            </div>
            <!-- More files... -->
        </div>
        <a  class="btn btn-link p-0">Xem tất cả</a> <!-- Nút Xem tất cả cho File -->
    </div>
</div>