<div class="row p-3 container-call-video">
    <div class="col-12">
        <div>
            <nav class="nav nav-pills nav-fill">
                <a class="nav-link" (click)="StartRecord()" *ngIf="isRecorded">
                    <i class="fas" [ngClass]="isStopRecord ? ['fa-stop']:['fa-record-vinyl red'] "></i>
                    {{textStopRecord}}
                </a>
                <a class="nav-link" (click)="enableOrDisableAudio()">
                    <i class="fas" [ngClass]="enableAudio ? ['fa-microphone']:['fa-microphone-slash'] "></i>
                </a>
                <a class="nav-link" (click)="enableOrDisableVideo()">
                    <i class="fas" [ngClass]="enableVideo ? ['fa-video']:['fa-video-slash'] "></i>
                </a>
            </nav>
        </div>
    </div>


    <!-- Grid layout for tempvideos -->
    <div class="col-md-9">
        <div class="grid-layout">
            <div class="row video-grid">
                <div class="col-6" *ngFor="let user of tempvideos">
                    <div class="video-wrapper">
                        <app-video-box-user [userVideo]="user"></app-video-box-user>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Your own video (bottom-right corner) -->
    <div class="own-video-box" [ngClass]="{'zoomed': isOwnVideoZoomed}">
        <div class="card   mb-3">
            {{currentUser.name}}
            <div class="card-body" style="padding: 0;">
                <video #videoPlayer width="100%" controls></video>
            </div>
            <button class="zoom-btn" (click)="toggleOwnVideoZoom()">
                <i class="fas" [ngClass]="isOwnVideoZoomed ? 'fa-compress' : 'fa-expand'"></i>
            </button>
        </div>
    </div>
</div>






<!-- <div class="row mt-1">
    <div class="col-md-5">
        <div style="height: 100%;">
            <ng-template >
                <span class="badge badge-secondary bg-secondary" *ngIf="videos.length > maxUserDisplay">{{videos.length}}</span>
            </ng-template>

            <div class="row" style="max-height: 430px; overflow-y: scroll;">
                <div class="col-6" *ngFor="let user of tempvideos">
                    <app-video-box-user [userVideo]="user"></app-video-box-user>
                </div>                        
                
                <div class="col-12" *ngIf="videos.length > maxUserDisplay">
                    <div class="text-center">
                        <div class="box text-secondary" style="font-size: x-large;"> +{{videos.length - maxUserDisplay}}</div>
                    </div>
                </div>
            </div>
            <div class="row mt-1 justify-content-center">
                <div class="col-8">
                    <div class="card text-white bg-dark mb-3" style="width: 100%;">
                        {{currentUser.name}}
                        <div class="card-body" style="padding: 0;">
                            <video #videoPlayer width="100%" height="40%" controls></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->