@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";













/* custom common */

.p-float-label:hover label {
	top: -2px !important;
}


.card-body {
	background-color: #fff;
	border-radius: 5px;
	margin-top: 10px;
}

.card {
	border-radius: 5px;
}

.p-button-success {
	border-radius: 5px;
}

.p-button-primary {
	border-radius: 5px;
}

.btn-add {
	margin-left: 0;
}

.btn-save {
	margin-left: 75%;
	margin-top: 10px;
}

.dialog-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Màu nền mờ */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	/* Đảm bảo dialog hiển thị trên cùng */
}

.dialog-container {
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	/* Tạo shadow cho dialog */
	width: 30%;
	padding: 10px 30px;
	border-radius: 10px;
}

.buttonclose {
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: red;
	margin: 0;
	padding: 0;
	outline: none;
	transition: color 0.3s ease;
}


.buttonclose:hover {
	color: darkred;
}

.w-full {
	width: 100%;
	/* hoặc giá trị bạn muốn */
}

.p-autocomplete-input {
	width: 100% !important;
}

.p-inputnumber-input {
	width: 100% !important;
}

ul {
	padding-left: 0;
}

.nav-link {
	color: #000;
	/* Màu sắc mặc định */
}

.nav-link.active-link {
	color: #4154f1 !important;
	/* Màu sắc khi liên kết được chọn */
}

.error-message {
	color: red;
	/* Đặt màu chữ thành màu đỏ */
}

.butttonsave {
	margin-left: 10px;
	height: 35px;
	width: 70px;
	background: #2a2986;
	border: none;
}

.butttonsave:enabled:focus {
	box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #2a2986, 0 1px 2px 0 black;
}

.buttonsl {
	text-align: right;
}

.buttoncloses {
	background-color: gray;
	height: 35px;
	width: 70px;
	border-color: gray;
}

.buttoncloses:focus {
	outline: none;
	border-color: gray !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
	/* Tạo hiệu ứng shadow khi nút được focus */
}

.p-inputtext:enabled:focus {
	box-shadow: none;
}

.horizontal-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: -35px;
}

.labelip {
	font-weight: 600;
	font-size: 1.1rem;
	margin-bottom: 5px;
}

.red-asterisk {
	color: red;
}

.input-box {
	position: relative;
	top: 20px;
	height: 43px;
	display: flex;
	max-width: 700px;
	width: 100%;
	background: #fff;
	margin: 0 20px;
	border-radius: 8px;
}

.p-buttonset {
	border-radius: 0 !important;
}

.payment__content-item .p-inputnumber-input {
	text-align: right;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	padding: 0;
	font-size: 27px;
	font-weight: 500;
}

.payment__content-item .p-inputnumber-input:focus {
	border-bottom: 2px solid #2a2986;
}

.payment__content-item .p-dropdown-label {
	padding: 10.5px 5px;
}

.payment__content-item .p-dropdown:not(.p-disabled).p-focus {
	border-bottom: 2px solid #2a2986;
}

.payment__content-item .p-dropdown {
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}

.payment__content-item .payment__unit-sale .p-inputnumber-input {
	font-size: 15px;
}

.payment__content-item .p-dropdown-trigger {
	width: fit-content;
}

.input-box i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.input-box i {
	left: 20px;
	font-size: 15px;
	color: #707070;
}

.input-box input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid #e0dddd;
	border-radius: 5px;
	padding: 0 155px 0 65px;
	background-color: transparent;
}

.input-box .button {
	right: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	border: none;
	padding: 3px 25px;
	margin-left: 20px;
	border-radius: 6px;
	background-color: #4070f4;
	cursor: pointer;
}

.input-box .button:active {
	transform: translateY(-50%) scale(0.98);
}

.labelbx {
	padding-top: 15px;
	color: #757575;
}

::ng-deep .p-fileupload-button {
	background-color: white;
	/* Thay đổi màu nền thành màu trắng */
	color: black;
	/* Thay đổi màu chữ thành màu đen */
}

.condition {
	color: #757575;
	margin-top: 20px;
}

.imagepro {
	width: 100%;
	height: 100%;
}

.mlip {
	margin-left: -30px;
}

@media (max-width: 768px) {
	.mlip {
		margin-left: 0;
		/* Tắt margin-left khi màn hình thu nhỏ */
	}
}

@media (max-width: 490px) {
	.section-main .section-main-product .listproducts .item .actions {
		display: none;
	}
}

.mlip2 {
	margin-left: -45px;
}

.pback {
	color: #757575;
}

.buttonclosepro {
	background-color: white;
	height: 35px;
	width: 70px;
	border-color: #757575 !important;
	color: black;
}

.buttonclosepro:focus {
	outline: none;
	/* Loại bỏ viền mặc định */
	border-color: #757575 !important;
	/* Đổi màu viền khi nút được focus thành màu xám */
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
	/* Tạo hiệu ứng shadow khi nút được focus */
	background-color: white;
}

.butttonsavepro {
	margin-left: 5px;
	background-color: #2A2A86;
	height: 35px;
	width: 70px;
	border-color: #2A2A86 !important;
	color: white;
}

.butttonsavepro:focus {
	outline: none;
	/* Loại bỏ viền mặc định */
	border-color: #2A2A86 !important;
	/* Đổi màu viền khi nút được focus thành màu xám */
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
	/* Tạo hiệu ứng shadow khi nút được focus */
	background-color: #2A2A86;
}

.imageupload {
	height: 35px;
	width: 38px;
}

.w-full2 {
	height: 35px;
	width: 89%;
}

.video-ch input[type="file"] {
	display: none;
	/* Ẩn input file */
}

.video-ch {
	width: 200px;
	color: rgb(160, 151, 151);
}

.video-product {
	border: 1px solid #dfdfdf;
	width: 200px;
	height: 150px;
	font-size: 22px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}

.image-product {
	border: 1px solid #dfdfdf;
	width: 105px;
	height: 100px;
	font-size: 22px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}

.icon-video {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: none;
	background-color: #c1bbbb;
	padding: 0 55px;

}

.icon-video i {
	padding: 0 10px;
	font-size: 1rem;
}

.video-product:hover .icon-video {
	display: block;
}

.duration {
	border-radius: 6px;
	background-color: #c1bbbb;
	margin-bottom: 1px;
}

.video-product span {
	position: absolute;
	right: 5px;
	bottom: 0;
	font-size: 1rem;
	width: 50px;
	text-align: center;
}

.full-video {
	width: 75%;
	height: 70%;
	border-radius: 5px;
	margin-left: 20%;
	z-index: 9999;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Màu nền của overlay */
	display: flex;
	justify-content: center;
	align-items: center;
}

.logoSMO {
	width: 30px;
	height: 30px;
}

.pagetitle {
	display: flex;
	justify-content: space-between;
	/* căn giữa các phần tử theo chiều ngang */
	align-items: center;
	/* căn giữa các phần tử theo chiều dọc */
}

.btn-add-wrapper {
	/* margin-top: 20px; */
	/* Khoảng cách giữa nút và phần tiêu đề */
}

.buttonfilter {
	height: 37px;
	background-color: #2A2A86;
	border-radius: 5px;
}

.buttonfilter:focus {
	outline: none;
	/* Loại bỏ viền mặc định */
	border-color: #2A2A86 !important;
	/* Đổi màu viền khi nút được focus thành màu xám */
	/* box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, #2A2A86); */
	/* Tạo hiệu ứng shadow khi nút được focus */
	background-color: #2A2A86;
}

.show-product-component {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}



	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}



	&>.row {
		width: 100%;
	}

	.title {
		& .button_add_product {
			background-color: #22C55E;
			cursor: pointer;
			border-radius: 5px;
			padding: 0.75rem 1.25rem;
			width: 40%;
			float: right;

			& a {
				color: #ffffff;
				border: 1px solid #22C55E;
				transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
				font-weight: 700;
				background-color: #22C55E;
			}

			& i {
				color: #ffffff;
				margin-right: 10px;
			}
		}
	}

	.filter {
		padding: 1rem 0.75rem;
		background-color: #ffffff;
		border-radius: 5px;
		margin: 20px 0;

		.pagetitle {
			display: flex;
			flex-direction: column;
			padding-bottom: 10px;
		}

		& ul {
			padding: 10px;

			& li {
				border-radius: 5px;
			}
		}

		p-treeSelect {
			.p-placeholder {
				padding-top: 7px;
				padding-left: 7px;
			}

			.p-treeselect-label {
				padding-top: 7px;
				padding-left: 7px;
				font-size: 13px;
			}

			.p-treeselect-clear-icon {
				top: 30%;
			}
		}


		& .search>span {
			width: 100%;

			& input.search {
				padding: 0.5rem 2.5rem;
			}
		}

		& .search .pi-search {
			top: 12px;
		}

		& p-dropdown {
			display: block;
			height: 100%;
			font-size: 13px;
			width: 100%;

			& .p-dropdown-trigger {
				width: 2rem;
			}

			& span {
				padding: 8px;
			}

			& timesicon svg {
				top: 30%;
			}

		}

		&>div {
			height: 37px;
			display: flex;
			align-items: center;
			margin: 10px 5px;
		}

		& .filter-price {
			& span {
				margin-right: 5px;
				font-weight: bold;
			}

			& input {
				width: 45%;
				padding: 0.5rem 0.5rem;
				font-size: 13px;
				border: 1px solid #d9d9d9;
				border-radius: 2px;
			}
		}

		& .filter-status {
			& .p-dropdown-trigger {
				width: 2rem;
			}
		}

		& .filter-button button {
			height: 100%;
			width: 100%;
			font-size: 14px;
			font-weight: normal;
			color: #ffffff;
			border: 1px solid #2a2a86;
			transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
			font-weight: 700;
			background-color: #2a2a86;
			border-radius: 5px;
		}
	}

	.section-main {
		margin: 0;
		/* padding: 1rem 1.5rem; */
		background-color: #ffffff;
		border-radius: 5px;
		--bs-gutter-x: 0rem;


		& .section-main-head {
			&>div {
				display: flex;
				align-items: center;
				text-align: center;
				padding: 7px 15px;
				cursor: pointer;
				width: auto;
			}


			& .head-active {
				border-bottom: 3px solid #2a2a85;
			}
		}

		.paginator {
			padding: 10px;

			p-paginator p-dropdown span {
				display: flex;
				align-items: center;
				padding-left: 10px;
			}
		}
	}

	p-table {
		thead {
			tr.n-title-head {
				padding: 10px 20px;
			}
		}

		tbody tr td {

			img {
				width: 80%;
				max-height: 70px;
				min-height: 40px;
				border-radius: 5px;
			}
		}

		.n-product-status {
			display: grid;
			place-items: center;
		}

		.price-product,
		.sellcounts-product,
		.quantity-product {
			p {
				text-align: right;
			}
		}

		tbody .actions p {
			margin: 5px 0;
			margin-top: 15px;
			text-align: center;
			cursor: pointer;

			&:hover {
				color: #2a2a85;
			}
		}
	}


}

.toast-container {
	position: fixed;
	top: 20px;
	right: 20px;
	/* Thay đổi giá trị này để điều chỉnh vị trí của container */
	z-index: 9999;
	/* đảm bảo toast luôn hiển thị phía trên cùng */
}

.popup-message {
	background-color: #333;
	/* màu nền */
	color: #fff;
	/* màu chữ */
	padding: 10px 20px;
	/* lề và khoảng cách nội dung */
	border-radius: 5px;
	/* bo tròn góc */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	/* đổ bóng */
	margin-bottom: 10px;
	/* khoảng cách giữa các toast */
	opacity: 0;
	/* ban đầu ẩn đi */
	transition: opacity 3s ease;
	/* hiệu ứng hiển thị */
}

.rotated-line {
	width: 95%;
	/* Thiết lập chiều rộng của đường kẻ (có thể điều chỉnh) */
	height: 1px;
	/* Thiết lập chiều cao của đường kẻ */
	background-color: black;
	/* Màu sắc của đường kẻ */
	transform: rotate(90deg);
	/* Xoay đường kẻ 90 độ */
}

.dialog-container-customer {
	width: 50%;
}

.dialog-container-customerdelete {
	width: 35%;
}

.name-customer-delete {
	text-align: center;
}

.buttondelete {
	margin-left: 5px;
	background-color: red;
	height: 35px;
	width: 90px;
	border-color: red;
}

.buttondelete:focus {
	outline: none;
	/* Loại bỏ viền mặc định */
	border-color: red !important;
	/* Đổi màu viền khi nút được focus thành màu xám */
	box-shadow: 0 0 0 0.2rem rgba(214, 18, 18, 0)
		/* Tạo hiệu ứng shadow khi nút được focus */
}

.text-danger {
	margin-top: 10px;
}


.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logospin {
	position: fixed;
	margin-top: 16px;
	margin-left: 16px;
	z-index: 10000;
	height: 68px;
	width: 68px;
}

.p-progress-spinner-circle {
	animation: geek 1s ease-in-out infinite;
}

@keyframes geek {
	0% {
		stroke: #365899;
	}

	50% {
		stroke: #365899;
	}

	80% {
		stroke: #365899;
	}

	100% {
		stroke: #365899;
	}
}

.image-container {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	color: rgb(160, 151, 151);
}


.img-ch {
	width: 100px;
}

.ct-ad {
	margin: 0 0 10px 10px;
}


.preview {
	border: 2px dashed #dfdfdf;
	width: 100%;
	height: 100px;
	font-size: 22px;
	position: relative;
	border-radius: 6px;
	margin-left: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}

.preview i {
	font-size: 25px;
	margin: 12px 0 0 0;
}

.preview span {
	font-size: 15px;
	margin: 5px 13px;
	text-align: center;
}

.flex-wrap {
	margin: 20px;
}

.input-container {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	/* Tạo khoảng cách giữa các ô input */
}

/* Đặt input-group để có chiều rộng bằng nhau và hạn chế số lượng input trên mỗi hàng */
.input-group {
	flex: 0 0 45%;
	/* Mỗi input chiếm 48% chiều rộng để có tối đa 2 input trên mỗi hàng */
	display: flex;
	align-items: center;
	gap: 5px;
	/* Khoảng cách giữa input và nút xóa */
}

/* Định dạng cho các ô input */
.form-control {
	flex: 1;
	/* Cho phép input mở rộng để lấp đầy không gian còn lại */
}

/*
  .table-products table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-products th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border-right: 1px solid #ddd;
  }
  
  .table-products th {
    background-color: #f2f2f2;
  }
  
  
  .table-products tr {
    border-bottom: 1px solid #ddd;
  }
  
  
  .table-products input[type="number"] {
    width: 80px;
    padding: 5px;
    box-sizing: border-box;
  } */
.dropdowncusgroup .p-dropdown-label.p-placeholder {
	padding-top: 8px;
}


.image-container2 {
	position: relative;
	display: inline-block;
	padding-right: 15px;
	transition: transform 1s ease-in-out;
}

.image-overlay {
	position: absolute;
	top: 9px;
	left: 106px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0 0.2rem rgba(214, 18, 18, 0);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99999;
}

.image-container2:hover .image-main {
	display: flex;
	transform: scale(1.1);
}

.image-overlay img {
	display: block;
	margin: 0 auto;
}

.image-hover {
	position: relative;
}

.icon-hover {
	position: absolute;
	top: 71px;
	width: 150px;
	height: 29px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	background-color: #c1bbbb;
	/* Màu nền của overlay */
}

.icon-hover i {
	display: flex;
	margin-top: 10px;
	justify-content: center;
}

.k-list-table {
	p-table {
		max-width: 100%;

		th,
		td {
			border: 1px solid #e1e3e6;
			padding: 8px;
			cursor: pointer;

			table {
				table-layout: fixed;
				width: 100%;

				tr {
					display: flex;

					th {
						border-bottom: none;
						flex: 1;
					}
				}
			}
		}
	}

	.k-input {
		padding-top: 8px;
		font-size: 14px;
		height: 35px;
	}

	p-autocomplete {
		&>div {
			input {
				font-size: 14px;
				padding-top: 15px;
			}
		}
	}

	.crurent-page {
		font-size: 14px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	.p-paginator {
		font-size: 14px;
		float: right;
	}

	.p-element .p-dropdown-label .p-inputtext .ng-star-inserted {
		font-size: 14px;
	}

	p-dropdown {
		span {
			font-size: 14px;
		}
	}

	.card-body {
		padding: 0 10px;
		padding-bottom: 10px;
		background-color: #fff;
	}
}


.data-empty {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-main {
	position: absolute;
	bottom: -42px;
	left: 72px;
	width: 150px;
	height: 150px;
	border-radius: 4px;
	background-color: white;
	display: none;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	z-index: 99999;
	transition: transform 1s ease-in-out;
}

.image-container1 {
	position: relative;
	/* top: 15px; */
	/* left: 7px; */
	width: 130px;
	height: 117px;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
}

.image-edit img {
	margin-top: 20px;
	width: 100%;
	height: 70px;
}

.image-actions {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 26px;
	background: rgba(193, 190, 190, 0.422);
	display: flex;
	justify-content: center;
	padding: 5px 0;
}

.action-button {
	position: relative;
	bottom: 6px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	color: #333;
}

.disabled-calendar {
	pointer-events: none;
	opacity: 0.5;
}

.action-button i {
	padding: 0 10px;
}

.action-button:hover {
	color: #000;
}

.icon-caret i {
	border: none;
	/* color: rgba(255, 255, 255, 0.737); */
}

.bill .p-paginator .p-paginator-first,
.bill .p-paginator .p-paginator-prev,
.bill .p-paginator .p-paginator-next,
.bill .p-paginator .p-paginator-last {
	height: 2rem;
	min-width: 2rem;
}

.footer-note {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
	padding: 0;
}


.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item>div {
	padding: 8px 10px;
}

.counter .p-button {
	color: #ffffff;
	background: #2a2986;
	border-radius: 8px;
}

.p-button span {
	font-weight: 500 !important;
}

/* .counter .p-buttonset {
      background: #ffffff !important;
      color: #000;
  } */


.p-radiobutton .p-radiobutton-box.p-highlight {
	border-color: #2a2986;
	background: #2a2986;
}


.p-selectbutton .p-button.p-highlight {
	background: #2a2986;
	border-color: #2a2986;
	color: #ffffff;
}

.code-link {
	color: '#2a2986'
}

.code-link:hover {
	text-decoration: underline;
}


.p-calendar-w-btn {
	width: 100%;
}

.p-cascadeselect {
	width: 100%;
	border-radius: 5px;
}

.p-inputnumber-button-down {
	border-top-left-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.p-inputnumber-button-up {
	border-top-right-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.p-calendar .p-button {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #2a2986;
	border: none;
}

.p-inputnumber-buttons-horizontal .p-button {
	background-color: #2a2986;
}

.p-cascadeselect-panel-root {
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
	background: #EFF6FF;
	border-color: #EFF6FF;
	color: #1D4ED8;
}

.product-name .p-autocomplete-input {
	border-radius: 5px;
	padding: 10px;
}