<ng-template #profileModal let-modal="modal">
	<div class="modal-body">
		<div class="background-section"></div>
		<img src="assets/icons/icons8-rubik-50.png" alt="Hoàng Bàn Quyền" class="profile-pic">
		<div class="content-section mt-8">
			<h3>Hoàng Bàn Quyền</h3>
			<p>Xin chào, mình là Thắng Tný Nguyễn. Kết bạn với mình nhé!</p>
			<textarea class="form-control" maxlength="150">...........</textarea>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="blockCheckbox">
				<label class="form-check-label" for="blockCheckbox">
					Chặn người này xem nhật ký của tôi
				</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="closeModal()">Thông tin</button>
		<button type="button" class="btn btn-primary" (click)="closeModal()">Kết bạn</button>
	</div>
</ng-template>