<!-- goi trong home -->
<!-- <div class="card text-white bg-dark mb-3" style="width: 100%;">
    {{userVideo.user.name}}
    <div class="card-body" style="padding: 0;">
        <video  width="100%" height="150" [srcObject]="userVideo.srcObject" (loadedmetadata)="onLoadedMetadata($event)"
            [muted]="userVideo.muted">
        </video>
    </div>
    <div style="padding: 0;">
        <span class="text-truncate span-inline-block"> {{userVideo.user.name}} </span>
        <span style="float: right; color: white;">
            <i class="fas" [ngClass]="enableCamera ? ['fa-video']:['fa-video-slash']"></i>
            <i class="fas" [ngClass]="enableMicro ? ['fa-microphone']:['fa-microphone-slash']"></i>
        </span>
    </div>
</div> -->


<div class="card  mb-3" style="width: 100%;" [ngClass]="{'zoomed': isZoomed}">
    {{userVideo.user.name}}
    <div class="card-body" style="padding: 0;">
        <video width="100%" height="150" [srcObject]="userVideo.srcObject" (loadedmetadata)="onLoadedMetadata($event)"
            [muted]="userVideo.muted">
        </video>
    </div>
    <div style="padding: 0;">
        <span class="text-truncate span-inline-block"> {{userVideo.user.name}} </span>
        <span style="float: right; ">
            <i class="fas" [ngClass]="enableCamera ? ['fa-video']:['fa-video-slash']"></i>
            <i class="fas" [ngClass]="enableMicro ? ['fa-microphone']:['fa-microphone-slash']"></i>
        </span>
    </div>
    <button class="zoom-btn" (click)="toggleZoom()">
        <i class="fas" [ngClass]="isZoomed ? 'fa-compress' : 'fa-expand'"></i>
    </button>
</div>
