<div class="col-12 p-10 d-flex-custom justify-content-center flex-column ">
    <h1 class="text-center mb-3 text-color">Mừng bạn đến với TNY MESSENGER</h1>
    <p class="text-center mb-4">Khám phá những tiện ích hỗ trợ làm việc và trò chuyện cùng người thân, bạn bè để cuộc
        sối tuơi đẹp hơn mỗi ngày của bạn.</p>
    <carousel>
        <slide>
            <div class="d-flex justify-content-center">
                <img src="assets/banners/login/banner-img.png" alt="First slide" class="d-block w-50">
            </div>
        </slide>
        <slide>
            <div class="d-flex justify-content-center">
                <img src="assets/banners/login/plain.png" alt="Second slide" class="d-block w-50">
            </div>
        </slide>
        <!-- Thêm các slide khác tùy ý -->
    </carousel>
    <p class="text-center mb-4">Một sản phẩm mới chất lượng làm tuơi đẹp hơn mỗi ngày của bạn.</p>
    <p class="text-center mb-4">Cảm ơn đã sử dụng.</p>
    <small class="text-center mb-3 text-color">CopyRight Tny Nguyen&#64;</small>

</div>