html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* root */
:root {
	--background-color: rgb(40, 92, 196); 
	--color-text:#ffffff;

	--color-text-same-background:rgb(40, 92, 196);

}


